<header class="masthead">
  <div class="masthead__inner-wrap">

    <div class="masthead__identity">
      <a class="site-title" href="{{ '/' | relative_url }}">
        <span class="t-user">naderahmed</span><span class="t-at">@</span><span class="t-host">portfolio</span><span class="t-sep">:~$</span>
      </a>
    </div>

    <nav class="masthead__nav" id="site-nav">
      <ul>
        {%- for link in site.data.navigation.main -%}
          <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
      <button class="greedy-nav__toggle hidden" type="button">
        <span class="visually-hidden">Toggle menu</span>
        <div class="navicon"></div>
      </button>
    </nav>

  </div>
</header>
